body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #c0c0c0;
}

.calculator {
  margin: 0 auto;
  width: 600px;
  height: 700px;
  margin-top: 20px;
  border-radius: 20px;
}

.calculator-output {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100px;
}

.calculator-output input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #89cff0;
  color: black;
  padding: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 24px;
}

button:active {
  transform: translateY(2px);
}

.col {
  width: 25%;
  height: 100px;
  background-color: #d3d3d3;
  border: 1px solid #c0c0c0;
}

.buttons-holder {
  width: 75%;
  border-bottom-left-radius: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.equal-button {
  width: 25%;
  border-bottom-right-radius: 20px;
  height: 500px;
  background-color: #7393b3;
}

.col-button {
  width: 33.3%;
  height: 100px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
}

.half-col-button {
  width: 50%;
  height: 100px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
}
